body {
	height: 100vh;
}

footer {
	width: 100%;
}

body,
body div {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#container {
	height: 80vh;
}
form {
	padding: 20px;
}
#search-input {
	width: 584px;
	height: 48px;
	border: 1px solid;
	border-color: rgb(202, 196, 196);
	border-radius: 24px;
	flex-direction: row;
}
#search-input:hover {
	background-color: #fff;
	box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
	border-color: rgba(223, 225, 229, 0);
}

#loupe {
	width: 52px;
	color: rgb(202, 196, 196);
}

#search-input input {
	background-color: transparent;
	border: none;
	margin: 0;
	padding: 0;
	color: rgba(0, 0, 0, 0.87);
	outline: none;
	display: flex;
	flex: 100%;
	-webkit-tap-highlight-color: transparent;
	height: 34px;
	font-size: 16px;
}

#search-buttons {
	padding-top: 18px;
	flex-direction: row;
}

#search-buttons input {
	background-color: #f8f9fa;
	border: 1px solid #f8f9fa;
	border-radius: 4px;
	color: #3c4043;
	font-family: arial, sans-serif;
	font-size: 14px;
	margin: 11px 4px;
	padding: 0 16px;
	line-height: 27px;
	height: 36px;
	min-width: 54px;
	text-align: center;
	cursor: pointer;
	user-select: none;
}

#search-buttons input:hover {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	background-color: #f8f9fa;
	border: 1px solid #dadce0;
	color: #202124;
}
#search-buttons input:focus {
	border: 1px solid #4d90fe;
	outline: none;
}

header {
	position: absolute;
	top: 0px;
	right: 0px;
}
header div {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: left;
	height: 48px;
	padding: 6px;
}

.anchor-link {
	width: 24px;
	height: 24px;
}
.anchor-link:focus {
	outline: none;
}
.anchor-text {
	padding-left: 15px;
}
.anchor-text a {
	color: black;
	text-decoration: none;
	font: 13px/27px Roboto, RobotoDraft, Arial, sans-serif;
}

.anchor {
	height: 40px;
	width: 40px;
	text-align: center;
	border: solid transparent;
	border-radius: 20px;
	padding: 5px;
}

.anchor:hover {
	background-color: rgba(60, 64, 67, 0.08);
}

.anchor-text a:hover {
	text-decoration: underline;
}

.anchor-sign-in {
	border: 1px solid transparent;
	border-radius: 4px;
	padding: 9px 23px 9px 23px;
	height: 36px;
	width: auto;
	font: 13px/27px Roboto, RobotoDraft, Arial, sans-serif;
	text-decoration: none;
	background: #1a73e8;
	text-align: center;
	vertical-align: middle;
	word-wrap: normal;
}
.anchor-sign-in a {
	text-decoration: none;
	color: white;
	width: 44px;
	font-weight: 500;
	font-size: 14 px;
}
.anchor-sign-in a:focus {
	outline: none;
}
.anchor-sign-in:hover {
	box-shadow: 0 1px 2px 0 rgba(66, 133, 244, 0.3),
		0 1px 3px 1px rgba(66, 133, 244, 0.15);
}
